<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RCLSFA"
        tools:targetApi="31">
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".tgt_setup.kro_outlet_selection.SaveTargetKroActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.OutletDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".attendance.ApplyIOMApplicationActivity"
            android:exported="false" />
        <activity
            android:name=".attendance.IOMApplicationActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".attendance.MonthlyAttendaneActivity"
            android:exported="false" />
        <activity
            android:name=".order.OrderListActivity"
            android:exported="false" />
        <activity
            android:name=".tgt_setup.kro_outlet_selection.KroDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".tgt_setup.kro_outlet_selection.AddKroOutletActivity"
            android:exported="false" />
        <activity
            android:name=".attendance.ApplyLeaveApplicationActivity"
            android:exported="false" />
        <activity
            android:name=".attendance.LeaveAttendanceApplicationListActivity"
            android:exported="false" />
        <activity
            android:name=".tgt_setup.kro_outlet_selection.KROOutletActivity"
            android:exported="false" />
        <activity
            android:name=".tgt_setup.route_wise_tgt_setup.RouteListDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".tgt_setup.route_wise_tgt_setup.RouteListActivity"
            android:exported="false" />
        <activity
            android:name=".tgt_setup.TGTSetupMainActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.UpdateLocationPageActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.LocationUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.route_wise_outlet_mapping.ShowSRListActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.OutletSearchingActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.route_wise_outlet_mapping.RouteWiseOutletMappingActivity"
            android:exported="false" />
        <activity
            android:name=".retailer.RetailerSummeryActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.outlet_entry.SearchCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.outlet_entry.SearchUpazilaActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.outlet_entry.SearchDistrictActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.outlet_entry.SearchDivisionActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.outlet_entry.SearchRouteActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.outlet_entry.OutletEntryActivity"
            android:exported="false" />
        <activity
            android:name=".outletManagement.OutletManagementMainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ProfilePhotoUploadActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ProfileUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".auth.ProfileActivity"
            android:exported="false" />

        <service
            android:name=".utils.MyBackgroundService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".order.OrderMenuActivity"
            android:exported="false" />
        <activity
            android:name=".order.NewOrderActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.impala.rclsfa.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".attendance.EveningAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".attendance.MorningAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".attendance.AttendanceMenuActivity"
            android:exported="false" />
        <activity
            android:name=".PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
